.book-details-container {
  width: 400px;
  text-align: left;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: rgba(128, 128, 128, 0.342) 2px 3px 18px 0px;
  .book-details-header {
    display: flex;
    justify-content: space-between;
    h1 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 90%;
    }

    input[type="checkbox"] {
      position: absolute;
      left: 425px;
      top: 82px;
      cursor: pointer;
    }
    input[type="checkbox"]:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      border-color: transparent;
      border-radius: 3px;
      box-shadow: inset 2px 3px 5px #888, 0 1px 1px #888;
      padding: 5px;
      text-align: center;
      background-color: rgb(219, 213, 213);
    }
    input[type="checkbox"]:checked:after {
      content: "";
      display: block;
      width: 5px;
      height: 10px;
      border: solid black;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 5px;
      left: 10px;
    }
  }
  .book-desc {
    height: 150px;
    line-height: 1.8em;
    padding-right: 18px;
    overflow: scroll;
    overflow-x: hidden;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #888;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
  }

  .star {
    font-size: 1.2em;
    margin: 0 1px;
    cursor: pointer;
    // &.yellow {
    //   background-color: yellow;
    // }
  }
  .rating {
    display: flex;
    align-items: center;
    h5 {
      margin-right: 8px;
    }
  }
}
