* {
  box-sizing: border-box;
}

html {
  line-height: lh(20px);
  background-color: #e5e5e5;
}

body {
  font-family: "Assistant";
  font-weight: lighter;
  letter-spacing: 0.05em;
}
h1 {
  font-size: 1.3rem;
  color: rgb(54, 52, 52);
}

h2 {
  font-size: 1.3rem;
  color: rgb(74, 145, 161);
  margin-bottom: 5px;
}

h4 {
  font-size: 1.1rem;
  margin-top: 0;
}

h5 {
  font-size: 1.05rem;
  color: rgb(10, 10, 68);
  margin: 10px 0;
}
hr{
  color: blue
}
  

